<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/ViewStudents">View Students</NavLink></li>
        <li><NavLink href="/AddStudent">Add Student</NavLink></li>
    </ul>
</nav>